.movie img{
  width: 16vw;
}
.movie {
  color: black;
  text-decoration: none
}
.movie hover{
  color: black;
}
.brdr{
  border: 1px solid rgba(0, 0, 0, 0.3);
}
header{
  background-image: url(../../assets/Images/Header.webp);
  background-size: cover;
}
