
.brdr{
  border: 1px solid rgba(106, 193, 67, 0.5);

}
header{
  background-image: url(../../assets/Images/A-subscription-service-is-the-perfect-non-tech-gift.webp);
  background-size: cover;
}


@media only screen and (max-width: 770px) {
  .imag img{
    width: 80vw;
  }
  header{
    background-image:none;
  }
}
